#titulo{
    background-color: rgb(250,250,250);
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration-color: none;
}
footer{
    text-align: right;
    text-align-last: left;
}
/*a:link {color:#FF0000;text­decoration:none;}
a:visited {background­color:#FFFF85; text­decoration:none;}
a:hover {text­decoration:underline;}
a:active {text­decoration:underline;}*/
